@model ClassRoomManager.Models.Period

<h1>EditPeriod</h1>

<h4>Period</h4>
<form asp-action="EditPeriod">
    <input type="hidden" asp-for="PeriodId" />

    <label asp-for="StartDate"></label>
    <input asp-for="StartDate" type="datetime-local"/>

    <label asp-for="EndDate"></label>
    <input asp-for="EndDate" type="datetime-local"/>

    <button type="submit">Guardar</button>
</form>

<a asp-action="PeriodsList">Lista de Periodos</a>

