@model ClassRoomManager.Models.Period

<h1>Editar Periodo</h1>
@if (ViewBag.ErrorMessage != null)
{
    <p>@ViewBag.ErrorMessage</p>
}
<p>Periodo @Model.StartDate.ToString("dd MMM yy") - @Model.EndDate.ToString("dd MMM yy")</p>
<form asp-action="EditPeriod">
    <input type="hidden" asp-for="PeriodId" />

    <label asp-for="StartDate"></label>
    <input asp-for="StartDate" type="datetime-local"/>

    <label asp-for="EndDate"></label>
    <input asp-for="EndDate" type="datetime-local"/>

    <button type="submit">Guardar</button>
</form>

<a asp-action="PeriodsList">Lista de Periodos</a>

