@model IEnumerable<Note>

<div>
    <label for="filter-notes">Filter:</label>
    <input id="filter-notes" type="search"/>
    <select>
        <optgroup label="Type Search">
            <option>Fecha de modificación</option>
            <option>Nota</option>
        </optgroup>
    </select>
    <button type="button"></button>
    @foreach (var item in Model)
    {
        <div>
            <p>@item.ModificationDate</p>
            <p>@item.Student.Group.Name - @item.Student.Name</p>
            <p>@item.Description</p>
        </div>
    }
</div>

