@model CreateNoteViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Note</h4>
<hr />
<form asp-route="CreateNote" asp-route-groupId="@Model.GroupId" method="post">
    <select name="StudentId">
        @foreach (var student in Model.Students)
        {
            <option value="@student.StudentId">@student.Name</option>
        }
    </select>
    <label for="note-description">Nota</label>
    <input type="text" id="note-description" name="description" />
    <button type="submit">Crear</button>
</form>


<a asp-route="Notes" asp-route-groupId="@Model.GroupId">Back to List</a>


