@model IEnumerable<ClassRoomManager.Models.Student>

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Note</h4>
<hr />
<form asp-route="CreateNote" asp-route-groupId="1" method="post">
    <select name="AssignedTo">
        @foreach (var student in Model)
        {
            <option value="@student.StudentId">@student.Name</option>
        }
    </select>
    <label for="note-description">Nota</label>
    <input type="text" id="note-description" name="description" />
    <button type="submit">Crear</button>
</form>


<a asp-action="Notes">Back to List</a>


