@model ClassRoomManager.Models.Note

<h1>EditNote</h1>

<h4>Note</h4>
<hr />
<form asp-action="EditNote" method="post">
    <div class="form-group">
        <label asp-for="Student.Group.GroupId" class="control-label"></label>
        <input asp-for="Student.Group.GroupId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CreationDate" class="control-label"></label>
        <input asp-for="CreationDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ModificationDate" class="control-label"></label>
        <input asp-for="ModificationDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Student.StudentId" class="control-label"></label>
        <input asp-for="Student.StudentId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NoteId" class="control-label"></label>
        <input asp-for="NoteId" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" >Guardar</button>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

