@model ClassRoomManager.Models.Note

<h1>EditNote</h1>

<h4>Note</h4>
<hr />
<form asp-action="EditNote" method="post">
    <div>
        <label asp-for="Student.GroupId"></label>
        <input asp-for="Student.GroupId"/>
    </div>
    <div>
        <label asp-for="CreationDate"></label>
        <input asp-for="CreationDate" type="datetime-local"/>
    </div>
    <div>
        <label asp-for="ModificationDate"></label>
        <input asp-for="ModificationDate" type="datetime-local"/>
    </div>
    <div>
        <label asp-for="Student.StudentId"></label>
        <input asp-for="Student.StudentId"/>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description"/>
    </div>
    <div>
        <label asp-for="NoteId"></label>
        <input asp-for="NoteId"/>
    </div>
    <div>
        <button type="submit">Guardar</button>
    </div>
</form>
<div>
    <a asp-route="Notes" asp-route-groupId="@Model.Student.GroupId">Lista de notas</a>
</div>

